.idea/vcs.xml
.idea/Multimodal-Toolkit.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
data/*
*.pyc